node_modules/
.next/
dist/
build/
out/
.turbo/
*.tsbuildinfo

.env
infra/data/
infra/cloudflared/config.yml
.env
.env.local
.env.*.local

*.log
npm-debug.log*
pnpm-debug.log*

.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json

# 생성물
.next/
next-env.d.ts
.vs/
